* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-font: "Montserrat", sans-serif;
    --title-font: 700 44px/54px var(--main-font);
    --sub-title-font: 400 18px/28px var(--main-font);
    --button-text: 700 16px/24px var(--main-font);
    --nav-text: 400 16px/28px var(--main-font);
    --information-title: 700 36px/24px var(--main-font);
    --information-sub-title: 700 16px/26px var(--main-font);
    --information-text: 500 16px/26px var(--main-font);



    --black: #2f281e;
    --lighter-black: #544837;
    --orange: #FF9900;
    --white: #FFFFFF;

    --transition-speed: 0.3s;

}

.body {
    font-family: var(--main-font);
}

.container {
    display: flex;
    max-width: 1200px;
    align-items: center;
}

.header {
    margin: 17px 120px 87px 120px;
    align-items: center;
}

.header__nav {
    font: var(--sub-title-font);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 198px;
}

.nav {
    text-decoration-line: none;
    font: var(--nav-text);
    color: var(--black);
}

.nav:hover {
    cursor: pointer;
    color: #FF9900;
}

.content {
    margin-left: 120px;
    margin-right: 120px;
}

.container__hero {
    display: flex;
    margin-bottom: 99px;
}

.hero__inform {
    padding-right: 59px;

}

.hero__title {
    font: var(--title-font);
    margin: 97px 56px 30px 0px;
    color: var(--black);
}

.hero__text {
    font: var(--sub-title-font);
    padding-bottom: 20px;
    color: var(--lighter-black);
}

.Sign-in {
    padding: 13px 25px;
    margin-right: 32px;
    color: var(--black);
    font: var(--button-text);
    background-color: var(--white);
    border-radius: 4px;
    border: 1px solid #BCD0E5;
}

.Sign-up {
    padding: 13px 25px;
    font: var(--button-text);
    background-color: var(--orange);
    color: var(--white);
    border: 0;
    border-radius: 4px;

}

.Sign-in:hover {
    transform: scale(1.1);
    background-color: whitesmoke;
    transition: all var(--transition-speed);
}

.Sign-up:hover {
    transform: scale(1.1);
    background-color: chocolate;
    transition: all var(--transition-speed);
}

.img {
    width: 644px;
    height: 495px;
}

.button {
    padding: 13px 40px;
    background-color: var(--orange);
    color: var(--white);
    border: 0;
    border-radius: 4px;
    font: var(--button-text);
}

.button:hover {
    transform: scale(1.1);
    background-color: chocolate;
    transition: all var(--transition-speed);
}


/* features2 */
.container__featuras {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    background-image: url(/lesson9/homework9/img/bg.svg);
}

.container__featuras_item {
    width: 25%;
}

.title {
    font: var(--title-font);
    font-size: 36px;
    text-align: center;
    color: var(--black);
    margin-bottom: 30px;
}

.icon {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}

.title__item {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 600;
    color: var(--black);
    line-height: normal;
    margin-bottom: 16px;
}

.descrition {
    font-family: Montserrat;
    font-weight: 500;
    line-height: 26px;
    color: var(--lighter-black);

}

.button-wrap {
    display: flex;
    justify-content: center;
}


.button__featuras {
    padding: 13px 40px;
    background-color: var(--orange);
    color: var(--white);
    border: 0;
    border-radius: 4px;
    font: var(--button-text);
    margin-bottom: 178px;
}

.button__featuras:hover {
    transform: scale(1.1);
    background-color: chocolate;
    transition: all var(--transition-speed);
}

/* benefits */
.title__benefit {
    font: var(--information-title);
    color: var(--black);
    margin-bottom: 20px;
}

.text_benefits {
    font: var(--information-text);
    color: var(--lighter-black);
    margin-bottom: 40px;
}

.sub-title {
    font: var(--information-sub-title);
    color: var(--black);
    margin-bottom: 10px;
}

.text {
    font: var(--information-text);
    color: var(--lighter-black);
}

.sub-title__alterationists {
    font: var(--information-sub-title);
    color: var(--black);
    margin-top: 30px;
    margin-bottom: 10px;
}

.sub-title__custom {
    font: var(--information-sub-title);
    color: var(--black);
    margin-top: 30px;
    margin-bottom: 10px;
}

.img__benef {
    max-height: 500px;
}

.benefits__information {
    margin-right: 113px;
}

.container_benefits {
    display: flex;
    margin-bottom: 100px;
}


/* product-menagers */
.container__products-menagers {
    display: flex;
    margin-bottom: 100px;
}

.img__products {
    margin-right: 125px;
    max-height: 500px;
}

.products__information {
    margin-top: 48px;

}

.item__products {
    display: flex;
    margin-bottom: 30px;

}

.products_list {
    display: flex;
    flex-direction: column;

}

.text-check {
    font: var(--information-text);
    margin-left: 30px;
}

/* markets */

.markets__information {
    margin-right: 174px;
}

.img__mark {
    max-height: 1200px;
}

.markets__information {
    margin-top: 40px;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.title_links {
    color: var(--black);
    font-family: Gotham;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 30px;
}


.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link {
    text-decoration-line: none;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: var(--lighter-black);
}

.link:hover {
    font-weight: bold;
    color: var(--black);
    transition: all var(--transition-speed);
}

.title_footer {
    font-family: Gotham;
    font-size: 20px;
    color: var(--black);
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 25px;
}

.input_email {
    width: 340px;
    height: 50px;
    padding: 0px 10px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    margin-bottom: 25px;
}

.button__footer {
    padding: 13px 40px;
    background-color: var(--orange);
    color: var(--white);
    border: 0;
    border-radius: 4px;
    font: var(--button-text);
}

.button-footer-wrap {
    margin-bottom: 70px;
}

.button__footer:hover {
    transform: scale(1.1);
    background-color: chocolate;
    transition: all var(--transition-speed);
}